{% load static %}
<!doctype html>
<html lang="en">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
        <title>StudentRecruiter: University Student Visit Management</title>
        
        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                crossorigin="anonymous">
        
        <link rel="stylesheet" type="text/css" href="{% static 'appointment_app/css/styles.css' %}">

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
	<!--CSS============================================= -->
        <link rel="stylesheet" href="/static/css/linearicons.css">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/magnific-popup.css">
        <link rel="stylesheet" href="/static/css/nice-select.css">
        <link rel="stylesheet" href="/static/css/animate.min.css">
        <link rel="stylesheet" href="/static/css/owl.carousel.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet"/>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
        {% block extrahead %}
        {% endblock %}
</head>
<body>
        <header id="header" id="home">
                <div class="container">
                        <div class="row align-items-center justify-content-between d-flex">
                                <div id="logo">
                                        <a href="/"><img src="img/logo.png" alt="" title="" /></a>
                                </div>
                                <nav id="nav-menu-container">
                                        <ul class="nav-menu">
                                                <li class="menu-active"><a href='{% url "homepage" %}'>Home</a></li>
                                                <li><a href="#">University List</a></li>
                                                <li><a href="/appointment_app/calendar">Appointment</a></li>
                                                <!--<li><a class="ticker-btn" href="#">Signup</a></li>
                                                <li><a class="ticker-btn" href="#">Login</a></li>-->
                                                <li><a class="ticker-btn" href='{% url "profilepageredirect" %}'>Profile</a></li>
                                                <li><a class="ticker-btn" href='{% url "userlogout" %}'>LogOut</a></li>
                                        </ul>
                                </nav><!-- #nav-menu-container -->
                        </div>
                </div>
        </header><!-- #header -->

        

        <section class="banner-area relative" id="home">
                <br><br><br><br><br>
                
                <div class="overlay overlay-bg"></div>
                <div class="container">
                        <div class="row fullscreen d-flex align-items-center justify-content-center">
                                <div class="banner-content col-lg-12">
                                        {% block content %}
                                        {% endblock %}
                                </div>
                        </div>
                </div>
        </section>

        

        

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

        {% block script %}
        {% endblock %}


        <script src="/static/js/vendor/jquery-2.2.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="/static/js/vendor/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
        <script src="/static/js/easing.min.js"></script>
        <script src="/static/js/hoverIntent.js"></script>
        <script src="/static/js/superfish.min.js"></script>
        <script src="/static/js/jquery.ajaxchimp.min.js"></script>
        <script src="/static/js/jquery.magnific-popup.min.js"></script>
        <script src="/static/js/owl.carousel.min.js"></script>
        <script src="/static/js/jquery.sticky.js"></script>
        <script src="/static/js/jquery.nice-select.min.js"></script>
        <script src="/static/js/parallax.min.js"></script>
        <script src="/static/js/mail-script.js"></script>
        <script src="/static/js/main.js"></script>
</body>

</html>